extends index

block append content
  h3 Account for #{email}
  h2 #{message}
  a(href='/logout') Logout
  h2 Available Products
  hr
  table
    for product in products
      tr
        td
          h3 #{product.name}
          p #{product.description}
        td
          if product.amount
            h3 #{'$' + (product.amount / 100).toFixed(2)}
            form(action='/purchase', method='POST', class='purchase_form')
              input(type='hidden', name='_id', value=product._id)

              label(for='card-element')
              
              //- a Stripe Element will be inserted here.
              div#card-element

              //- Used to display Element errors 
              div#card-errors(role='alert')
                
          else
            h3 Purchased!
            a(href=product.downloadURL) Download Here
